#**Importing Packages**

In [ ]:
#import packages
!pip install pandasql
import pandas as pd
import numpy as np
import pandasql as ps

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)

**Storing in dataframe**

# **customerUser**

In [ ]:
#for importing datafile
from google.colab import files
uploaded = files.upload()

Saving customerUser.xlsx to customerUser.xlsx

In [ ]:
#storing in customerUser
customerUser = pd.read_excel('customerUser.xlsx')

Examine Data

In [ ]:
customerUser.head()

,customerId,lastLogin,earnedPoints,burnedPoints,totalPoints,gender,source,rank,preferredMallId,secondaryMallId,tierId,gemBalance,createdAt,totalXp,currentMall
0,3,2020-08-27,0.0,0,0.0,male,NaN,3697.0,1.0,NaN,1,8,2019-06-01,0.0,1.0
1,9,2020-11-23,5833.5,1491,4372.5,male,NaN,259.0,1.0,NaN,2,4,2019-06-03,5833.5,1.0
2,18,2020-01-13,0.0,0,0.0,female,NaN,3608.0,1.0,NaN,1,8,2019-06-04,0.0,1.0
3,25,2020-08-27,0.0,0,0.0,NaN,NaN,274.0,1.0,NaN,1,8,2019-06-05,0.0,1.0
4,26,2020-11-22,1490.0,801,739.0,other,NaN,951.0,1.0,NaN,2,3,2019-06-05,1490.0,1.0

In [ ]:
customerUser.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81450 entries, 0 to 81449
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customerId       81450 non-null  int64
 1   lastLogin        64169 non-null  datetime64[ns]
 2   earnedPoints     81450 non-null  float64
 3   burnedPoints     81450 non-null  int64
 4   totalPoints      81450 non-null  float64
 5   gender           32130 non-null  object
 6   source           21946 non-null  object
 7   rank             56596 non-null  float64
 8   preferredMallId  81448 non-null  float64
 9   secondaryMallId  0 non-null      float64
 10  tierId           81450 non-null  int64
 11  gemBalance       81450 non-null  int64
 12  createdAt        81450 non-null  datetime64[ns]
 13  totalXp          81450 non-null  float64
 14  currentMall      81423 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(4), object(2)
memory usage: 9.3+ MB

In [ ]:
#Searching columns that have missing values
m1 = customerUser.columns[customerUser.isna().any()].tolist()
display(m1)

['lastLogin',
 'gender',
 'source',
 'rank',
 'preferredMallId',
 'secondaryMallId',
 'currentMall']

# **customerScans**

In [ ]:
#for importing datafile
from google.colab import files
uploaded = files.upload()

Saving customerScans.xlsx to customerScans.xlsx

In [ ]:
#storing in customerScans
customerScans = pd.read_excel('customerScans.xlsx')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

In [ ]:
customerScans.head()

,scanlogId,image,customerId,createdAt,storeName,billDate,billTotal,points
0,1,16699812966-1-2020-08-28.png,9,2019-06-12,Baggit,2019-02-03,1025.0,103
1,3,92684730126-1-2020-08-28.png,9,2019-06-12,Ruosh,2019-01-30,2694.0,270
2,6,85846194215-1-2020-08-28.jpg,42,2019-06-13,Street Foodz by Punjab Grill,2019-06-13,1900.0,190
3,11,64931820847-1-2020-08-28.jpg,42,2019-07-13,Street Foodz by Punjab Grill,2013-07-19,458.0,46
4,12,36333275263-1-2020-08-28.jpg,42,2019-07-14,Coach,2019-07-14,12900.0,1290

In [ ]:
customerScans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22886 entries, 0 to 22885
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   scanlogId   22886 non-null  int64
 1   image       22886 non-null  object
 2   customerId  22886 non-null  int64
 3   createdAt   22886 non-null  datetime64[ns]
 4   storeName   22886 non-null  object
 5   billDate    22879 non-null  datetime64[ns]
 6   billTotal   22886 non-null  float64
 7   points      22886 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 1.4+ MB

In [ ]:
#Searching columns that have missing values
m2 = customerScans.isna().sum()
display(m2)

scanlogId     0
image         0
customerId    0
createdAt     0
storeName     0
billDate      7
billTotal     0
points        0
dtype: int64

# **couponTransactions**

In [ ]:
#for importing datafile
from google.colab import files
uploaded = files.upload()

Saving couponTransactions.xlsx to couponTransactions.xlsx

In [ ]:
#storing in customerTransactions
couponTransactions = pd.read_excel('couponTransactions.xlsx')

In [ ]:
couponTransactions.head()

   couponId  customerId couponUnlockDate
0         2          25       2019-06-05
1        23           9       2019-06-12
2        24           9       2019-06-12
3        23           9       2019-06-22
4        23           9       2019-06-26

In [ ]:
couponTransactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27580 entries, 0 to 27579
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   couponId          27580 non-null  int64
 1   customerId        27580 non-null  int64
 2   couponUnlockDate  27580 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 646.5 KB

In [ ]:
#Searching columns that have missing values
m3 = couponTransactions.columns[couponTransactions.isna().any()].tolist()
display(m3)

[]

# **Question 1**

How many Users have logged in after 1st September 2020 till date?

In [ ]:
customerUser.loc[:,["customerId","lastLogin"]]

       customerId  lastLogin
0               3 2020-08-27
1               9 2020-11-23
2              18 2020-01-13
3              25 2020-08-27
4              26 2020-11-22
...           ...        ...
81445       81579        NaT
81446       81580 2020-11-25
81447       81581 2020-11-25
81448       81582 2020-11-26
81449       81583        NaT

[81450 rows x 2 columns]

In [ ]:
q1 = customerUser.loc[(customerUser['lastLogin'] >= '2020-09-01')
                     & (customerUser['lastLogin'] < '2022-03-03')]
#q1 = customerUser[customerUser.lastLogin > '2020-9-1']
display(q1)

,customerId,lastLogin,earnedPoints,burnedPoints,totalPoints,gender,source,rank,preferredMallId,secondaryMallId,tierId,gemBalance,createdAt,totalXp,currentMall
1,9,2020-11-23,5833.5,1491,4372.5,male,NaN,259.0,1.0,NaN,2,4,2019-06-03,5833.5,1.0
4,26,2020-11-22,1490.0,801,739.0,other,NaN,951.0,1.0,NaN,2,3,2019-06-05,1490.0,1.0
9,32,2020-11-17,234.0,0,324.0,male,NaN,2862.0,1.0,NaN,1,1,2019-06-06,234.0,1.0
10,34,2020-11-19,77.0,53,24.0,male,NaN,3714.0,1.0,NaN,1,2,2019-06-06,77.0,1.0
14,42,2020-11-21,2097.7,101,2421.7,male,NaN,767.0,1.0,NaN,2,4,2019-06-12,2522.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81443,81577,2020-11-25,0.0,0,0.0,NaN,NaN,NaN,1.0,NaN,1,1,2020-11-25,0.0,NaN
81444,81578,2020-11-25,0.0,0,0.0,NaN,NaN,NaN,1.0,NaN,1,1,2020-11-25,0.0,NaN
81446,81580,2020-11-25,0.0,0,0.0,NaN,NaN,NaN,1.0,NaN,1,1,2020-11-25,0.0,NaN
81447,81581,2020-11-25,0.0,0,0.0,NaN,NaN,NaN,1.0,NaN,1,1,2020-11-25,0.0,NaN
81448,81582,2020-11-26,0.0,0,0.0,NaN,NaN,NaN,1.0,NaN,1,1,2020-11-26,0.0,NaN

In [ ]:
q1.count

<bound method DataFrame.count of        customerId  lastLogin  earnedPoints  burnedPoints  totalPoints gender  \
1               9 2020-11-23        5833.5          1491       4372.5   male
4              26 2020-11-22        1490.0           801        739.0  other
9              32 2020-11-17         234.0             0        324.0   male
10             34 2020-11-19          77.0            53         24.0   male
14             42 2020-11-21        2097.7           101       2421.7   male
...           ...        ...           ...           ...          ...    ...
81443       81577 2020-11-25           0.0             0          0.0    NaN
81444       81578 2020-11-25           0.0             0          0.0    NaN
81446       81580 2020-11-25           0.0             0          0.0    NaN
81447       81581 2020-11-25           0.0             0          0.0    NaN
81448       81582 2020-11-26           0.0             0          0.0    NaN

      source    rank  preferredMallId  secondaryMallId  tierId  gemBalance  \
1        NaN   259.0              1.0              NaN       2           4
4        NaN   951.0              1.0              NaN       2           3
9        NaN  2862.0              1.0              NaN       1           1
10       NaN  3714.0              1.0              NaN       1           2
14       NaN   767.0              1.0              NaN       2           4
...      ...     ...              ...              ...     ...         ...
81443    NaN     NaN              1.0              NaN       1           1
81444    NaN     NaN              1.0              NaN       1           1
81446    NaN     NaN              1.0              NaN       1           1
81447    NaN     NaN              1.0              NaN       1           1
81448    NaN     NaN              1.0              NaN       1           1

       createdAt  totalXp  currentMall
1     2019-06-03   5833.5          1.0
4     2019-06-05   1490.0          1.0
9     2019-06-06    234.0          1.0
10    2019-06-06     77.0          1.0
14    2019-06-12   2522.7          1.0
...          ...      ...          ...
81443 2020-11-25      0.0          NaN
81444 2020-11-25      0.0          NaN
81446 2020-11-25      0.0          NaN
81447 2020-11-25      0.0          NaN
81448 2020-11-26      0.0          NaN

[10459 rows x 15 columns]>

How many of those have Signed up in September 2019?

In [ ]:
q1a = customerUser.loc[(customerUser['createdAt'] >= '2019-09-01')
                     & (customerUser['createdAt'] < '2019-09-30')]
display(q1a)

,customerId,lastLogin,earnedPoints,burnedPoints,totalPoints,gender,source,rank,preferredMallId,secondaryMallId,tierId,gemBalance,createdAt,totalXp,currentMall
58,88,2020-11-24,1338.0,3,1535.0,male,NaN,3660.0,1.0,NaN,2,4,2019-09-01,1338.0,1.0
59,89,2020-08-27,0.0,0,0.0,male,NaN,3714.0,1.0,NaN,1,8,2019-09-01,0.0,1.0
60,90,2020-08-27,0.0,0,0.0,NaN,NaN,3714.0,1.0,NaN,1,8,2019-09-01,0.0,1.0
61,91,2020-08-27,0.0,0,0.0,NaN,NaN,3714.0,1.0,NaN,1,8,2019-09-01,0.0,1.0
62,92,2020-04-05,786.0,104,682.0,male,NaN,1749.0,1.0,NaN,1,2,2019-09-01,786.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,1766,2020-08-27,0.0,0,0.0,NaN,NaN,3714.0,1.0,NaN,1,8,2019-09-29,0.0,1.0
1695,1767,2020-08-27,110.0,0,110.0,NaN,NaN,3382.0,1.0,NaN,1,2,2019-09-29,110.0,1.0
1696,1768,2020-08-27,100.0,0,100.0,male,NaN,3413.0,1.0,NaN,1,2,2019-09-29,100.0,1.0
1697,1769,2020-05-30,876.6,401,475.6,male,JMGF39,1494.0,1.0,NaN,1,2,2019-09-29,876.6,1.0
1698,1770,2020-08-27,111.0,0,111.0,male,NaN,3378.0,1.0,NaN,1,2,2019-09-29,111.0,1.0

# **Question 2**

How many Users have ‘Earned Points’ more than 2000?

In [ ]:
customerUser.loc[:,["customerId","earnedPoints"]]

       customerId  earnedPoints
0               3           0.0
1               9        5833.5
2              18           0.0
3              25           0.0
4              26        1490.0
...           ...           ...
81445       81579           0.0
81446       81580           0.0
81447       81581           0.0
81448       81582           0.0
81449       81583           0.0

[81450 rows x 2 columns]

In [ ]:
q2 = customerUser[customerUser.earnedPoints >= 2000]
display(q2)

,customerId,lastLogin,earnedPoints,burnedPoints,totalPoints,gender,source,rank,preferredMallId,secondaryMallId,tierId,gemBalance,createdAt,totalXp,currentMall
1,9,2020-11-23,5833.50,1491,4372.50,male,NaN,259.0,1.0,NaN,2,4,2019-06-03,5833.50,1.0
14,42,2020-11-21,2097.70,101,2421.70,male,NaN,767.0,1.0,NaN,2,4,2019-06-12,2522.70,1.0
28,57,2020-08-27,2197.00,500,1697.00,NaN,NaN,818.0,1.0,NaN,2,4,2019-07-23,2197.00,1.0
47,77,2020-05-20,4892.90,4752,140.90,male,NaN,499.0,1.0,NaN,2,4,2019-08-31,4892.90,1.0
50,80,2020-10-10,8097.35,568,7568.35,male,NaN,122.0,1.0,NaN,2,7,2019-08-31,8136.35,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81308,81442,2020-11-21,3023.00,0,3023.00,NaN,NaN,NaN,1.0,NaN,2,3,2020-11-20,3023.00,1.0
81324,81458,2020-11-26,6926.00,200,6726.00,NaN,FREEPK,NaN,1.0,NaN,2,3,2020-11-21,6876.00,1.0
81366,81500,2020-11-24,3059.00,100,2959.00,NaN,NaN,NaN,1.0,NaN,2,3,2020-11-21,3059.00,1.0
81369,81503,2020-11-22,2744.00,250,2494.00,male,NaN,NaN,1.0,NaN,2,3,2020-11-22,2744.00,1.0
81406,81540,2020-11-24,3495.00,200,3375.00,NaN,NaN,NaN,1.0,NaN,2,3,2020-11-23,3495.00,1.0

In [ ]:
q2.count

<bound method DataFrame.count of        customerId  lastLogin  earnedPoints  burnedPoints  totalPoints gender  \
1               9 2020-11-23       5833.50          1491      4372.50   male
14             42 2020-11-21       2097.70           101      2421.70   male
28             57 2020-08-27       2197.00           500      1697.00    NaN
47             77 2020-05-20       4892.90          4752       140.90   male
50             80 2020-10-10       8097.35           568      7568.35   male
...           ...        ...           ...           ...          ...    ...
81308       81442 2020-11-21       3023.00             0      3023.00    NaN
81324       81458 2020-11-26       6926.00           200      6726.00    NaN
81366       81500 2020-11-24       3059.00           100      2959.00    NaN
81369       81503 2020-11-22       2744.00           250      2494.00   male
81406       81540 2020-11-24       3495.00           200      3375.00    NaN

       source   rank  preferredMallId  secondaryMallId  tierId  gemBalance  \
1         NaN  259.0              1.0              NaN       2           4
14        NaN  767.0              1.0              NaN       2           4
28        NaN  818.0              1.0              NaN       2           4
47        NaN  499.0              1.0              NaN       2           4
50        NaN  122.0              1.0              NaN       2           7
...       ...    ...              ...              ...     ...         ...
81308     NaN    NaN              1.0              NaN       2           3
81324  FREEPK    NaN              1.0              NaN       2           3
81366     NaN    NaN              1.0              NaN       2           3
81369     NaN    NaN              1.0              NaN       2           3
81406     NaN    NaN              1.0              NaN       2           3

       createdAt  totalXp  currentMall
1     2019-06-03  5833.50          1.0
14    2019-06-12  2522.70          1.0
28    2019-07-23  2197.00          1.0
47    2019-08-31  4892.90          1.0
50    2019-08-31  8136.35          1.0
...          ...      ...          ...
81308 2020-11-20  3023.00          1.0
81324 2020-11-21  6876.00          1.0
81366 2020-11-21  3059.00          1.0
81369 2020-11-22  2744.00          1.0
81406 2020-11-23  3495.00          1.0

[1263 rows x 15 columns]>

# **Question 3**

From which stores has customer id ‘83’ scanned bills in February 2020?

In [ ]:
q3 = customerScans.loc[customerScans['customerId'] == 83]
display(q3)

,scanlogId,image,customerId,createdAt,storeName,billDate,billTotal,points
1398,2633,61445993485-1-2020-08-28.jpg,83,2019-11-04,Zara,2019-04-11,1980.00,198
1399,2634,34147132522-1-2020-08-28.jpg,83,2019-11-04,Marks and Spencer,2019-04-10,590.00,59
1402,2640,45310001698-1-2020-08-28.jpg,83,2019-11-04,Lifestyle,2019-12-04,390.00,39
1674,3552,46099507012-1-2020-08-28.jpg,83,2019-11-09,Lifestyle,2019-11-09,2193.00,219
4893,12796,55605699439-1-2020-08-28.jpg,83,2019-12-18,Dunkin Donuts,2019-12-18,395.90,40
14576,33878,62564095805-1-2020-08-28.jpg,83,2020-02-17,Big Bazaar,2020-02-17,315.00,32
14731,34219,76752970311-1-2020-08-28.jpg,83,2020-02-19,Bombaysthan,2020-02-19,63.00,7
15306,35558,94351825398-1-2020-08-28.jpg,83,2020-02-22,Archies,2020-02-22,799.00,80
15307,35559,68808304356-1-2020-08-28.jpg,83,2020-02-22,Archies,2020-02-22,12.00,2
15315,35573,89016120087-1-2020-08-28.jpg,83,2020-02-22,Da Milano,2020-02-22,1499.00,150
15762,36503,85344750078-1-2020-08-28.jpg,83,2020-02-24,Galito's,2020-02-24,380.00,38
15980,37078,87775420981-1-2020-08-28.jpg,83,2020-02-26,Galito's,2020-02-26,380.00,38
16268,37669,38499960351-1-2020-08-28.jpg,83,2020-02-28,Big Bazaar,2020-02-28,154.00,16
16299,37723,94021261819-1-2020-08-28.jpg,83,2020-02-28,Galito's,2020-02-28,380.00,38
16301,37726,34795452369-1-2020-08-28.jpg,83,2020-02-28,Da Milano,2028-02-20,1270.34,128
16422,37982,28385415380-1-2020-08-28.jpg,83,2020-02-29,Kobe Sizzlers,2020-02-29,485.00,49
16956,39042,64753200792-1-2020-08-28.jpg,83,2020-03-02,Archies,2020-03-02,759.00,76
18552,42510,37577298510-1-2020-08-28.jpg,83,2020-03-11,Naturals Lounge,2011-03-20,200.00,20
19527,44683,31286290198-1-2020-08-28.jpg,83,2020-03-16,Burger King,2020-03-16,279.00,28
19794,45888,36715585754-83-2020-9-11.jpeg,83,2020-09-11,Hugo Boss,2020-08-22,7675.00,768
20135,46961,35100687588-83-2020-9-19.jpeg,83,2020-09-19,Florsheim,2020-09-09,5831.00,583
20139,46975,16557405026-83-2020-9-19.jpeg,83,2020-09-19,L'occitane,2020-09-17,5600.00,560
21018,49421,66300659719-3-2020-9-28.png,83,2020-09-28,Lifestyle,2020-09-27,2616.00,262
21029,49454,59037061821-83-2020-9-28.jpeg,83,2020-09-28,Arabian Hut,2020-09-28,199.00,20
21106,49624,15300445059-83-2020-9-29.jpeg,83,2020-09-29,Casio,2020-09-29,7676.00,768
21156,49813,1544427422-83-2020-9-30.jpeg,83,2020-09-30,Galito's,2020-09-30,200.00,20
21467,50652,20517982300-83-2020-10-6.jpeg,83,2020-10-06,Starmark,2020-10-06,915.00,92

In [ ]:
q3 = q3.loc[(q3['billDate'] >= '2020-02-01')
                     & (q3['billDate'] < '2020-02-29')]

In [ ]:
q3 = q3["storeName"]
q3.count()

9

# **Question 4**

How many unique users unlocked coupons on 10th September 2020?

In [144]:
q4 = couponTransactions.loc[couponTransactions['couponUnlockDate'] == '2020-09-10']
display(q4)

       couponId  customerId couponUnlockDate
24353       298        1005       2020-09-10
24354       279        1005       2020-09-10
24355       297        1005       2020-09-10
24356       283       25761       2020-09-10
24357       276       37809       2020-09-10
24358       299        4851       2020-09-10
24359       299       36463       2020-09-10
24360       299        4650       2020-09-10
24361       299       25892       2020-09-10
24362       299        7097       2020-09-10
24363       299        4650       2020-09-10
24364       299        4680       2020-09-10
24365       299        4680       2020-09-10
24366       293        4865       2020-09-10
24367       276        2004       2020-09-10
24368       276       35884       2020-09-10
24369       290         805       2020-09-10
24370       299       12318       2020-09-10
24371       293       10447       2020-09-10
24372       299       62807       2020-09-10
24373       299       62807       2020-09-10
24374       273       62093       2020-09-10
24375       299       26682       2020-09-10
24376       283       41803       2020-09-10
24377       290        2076       2020-09-10
24378       299       42110       2020-09-10
24379       299        7061       2020-09-10
24380       283       49281       2020-09-10
24381       283       51321       2020-09-10
24382       283         481       2020-09-10
24383       283       22866       2020-09-10
24384       299        3280       2020-09-10
24385       299        5181       2020-09-10
24386       299        3280       2020-09-10
24387       299       60799       2020-09-10
24388       283       18987       2020-09-10
24389       293       41444       2020-09-10
24390       299        7061       2020-09-10
24391       299        1196       2020-09-10
24392       299       40574       2020-09-10
24393       299       40574       2020-09-10
24394       290       40574       2020-09-10
24395       284       40574       2020-09-10
24396       283       40574       2020-09-10
24397       282          74       2020-09-10
24398       299       25892       2020-09-10
24399       299        7097       2020-09-10

In [145]:
q4 = print(len(q4['customerId'].unique().tolist()))

34

# **Question 5**

 Create the following pivot table:![Screenshot 2022-03-03 174419.png]()

In [ ]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
print(pysqldf("SELECT tierId, COUNT(DISTINCT customerUser.customerId) as UniqueUser, COUNT(couponId) as TotalCouponUnlocked, AVG(earnedPoints)as AverageEarnedPoints, AVG(burnedPoints)as AverageBurnedPoints FROM couponTransactions INNER JOIN customerUser on couponTransactions.customerId = customerUser.customerId group by tierId"))

   tierId  UniqueUser  TotalCouponUnlocked  AverageEarnedPoints  \
0       1       13418                19105           176.764271
1       2        1409                 6312          3313.437010
2       3         146                 2061         18797.156191
3       4           4                   77         54220.236883
4       5           2                   25        110528.756000

   AverageBurnedPoints
0            72.473593
1          1368.627693
2         10512.822902
3         10983.948052
4          2928.040000

# **Question 6**

 Create a cohort of users with the following conditions and answer the following questions:
(Scan Count > 4 && Coupon Transaction Count > 2)
1. What’s the tier distribution of these users?
2. What’s the gender distribution of these users?
3. Which 5 stores have these users scanned the most from?
4. Which source has the most users coming from in this cohort?
5. Observe the behaviour of this cohort and write your observations and insights.

In [135]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
ques6 = pysqldf("SELECT tierId, customerScans.customerId, scanlogId, CouponId, gender, storeName  FROM couponTransactions, customerUser, customerScans WHERE couponTransactions.customerId = customerScans.customerId and customerUser.customerId = customerScans.customerId group by customerScans.customerId, customerScans.storeName")
print(ques6['tierId'].value_counts())
print(ques6['gender'].value_counts())
print(ques6['storeName'].head())

2    5403
1    2620
3    1140
4      53
5      20
Name: tierId, dtype: int64
male      4979
female    2255
other        3
Name: gender, dtype: int64
0    Annavillas
1        Baggit
2    Big Bazaar
3         Ruosh
4     Starbucks
Name: storeName, dtype: object

In [ ]:
df = pd.ques6(ques6.groupby(["Customer_ID"]).agg({'scanlogId':max, 'Sales_Amount':sum})).reset_index()
df.head()

**Solving by Cohort Method**
- Clean the data.
- put transactions performed by the same customer on the same date in a single row since our demonstration will be based on transaction date, quantity, and sales amount.
- To run a cohort analysis, we’ll need to: 
  Split the data into groups that can be analyzed on the basis of time
  
  Assign a cohort index for each transaction
  
  Create two new columns
- finding out how many unique customers were acquired per month per cohort by setting the cohort_idx per row. 
- heatmap functions provided by matplotlib, we can see a graphical representation of the number of unique customers per cohort over time.
- Execute Retention Analysis.

**Observations & Insights**
- Tier 2 group has the most number of transactions. 
- As we can see the gender distribution Male transactions are 50% more than the female transactions.
- From the data we can see that Store "Annavillas" is the place where most scanning is done.
- It shows most of the coupons were scanned at Food place which shows people tend to spend more on food than other commodities.

# **Question 7**

Month on Month comparison:

![Screenshot 2022-03-03 180036.png]()

1) From the given tables derive this table(execute joins with other tables if required

2) Analyse the change in September Vs October and highlight/mention the highest changes for
each tier.

3) Observe the metrics and write your observations and insights.

In [111]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
#print(pysqldf("SELECT tierId, COUNT(DISTINCT customerUser.customerId) as UniqueUser, COUNT(couponId) as TotalCouponUnlocked, AVG(earnedPoints)as AverageEarnedPoints, AVG(burnedPoints)as AverageBurnedPoints FROM couponTransactions INNER JOIN customerUser on couponTransactions.customerId = customerUser.customerId group by tierId")) 
ques5 = pysqldf ('''Select * From (SELECT tierId, COUNT(DISTINCT customerUser.customerId)as sept_uniqueUser, COUNT(customerScans.scanlogId)as sept_billScan, SUM(customerScans.billTotal)as sept_scanTotal, COUNT(couponTransactions.couponId)as sept_unlocks FROM customerScans, couponTransactions, customerUser WHERE customerScans.customerId = couponTransactions.customerId and couponTransactions.customerId = customerUser.customerId and billDate between'2020-09-01' and '2020-10-01' and couponUnlockDate between'2020-09-01' and '2020-10-01' group by tierId) as Sept_Table, 
              (SELECT tierId, COUNT(DISTINCT customerUser.customerId)as oct_uniqueUser, COUNT(customerScans.scanlogId)as oct_billscan, SUM(customerScans.billTotal)as oct_scanTotal, COUNT(couponTransactions.couponId)as oct_unlocks FROM customerScans, couponTransactions, customerUser WHERE customerScans.customerId = couponTransactions.customerId and couponTransactions.customerId = customerUser.customerId and billDate between'2020-09-01' and '2020-10-01' and couponUnlockDate between'2020-10-01' and '2020-11-01' group by tierId) as Oct_Table where Sept_Table.tierId = Oct_Table.tierId''')
print(ques5)
print(ques5.sum(axis = 0))

   tierId  sept_uniqueUser  sept_billScan  sept_scanTotal  sept_unlocks  \
0       1               54            220      282009.962           220
1       2              136           1752     6235277.890          1752
2       3               23            750     6005709.860           750
3       4                1             14        5425.000            14

   tierId  oct_uniqueUser  oct_billscan  oct_scanTotal  oct_unlocks
0       1              27           130     117436.601          130
1       2              96           914    3628558.190          914
2       3              18           394    2181355.760          394
3       4               2            14      10271.000           14
tierId             1.000000e+01
sept_uniqueUser    2.140000e+02
sept_billScan      2.736000e+03
sept_scanTotal     1.252842e+07
sept_unlocks       2.736000e+03
tierId             1.000000e+01
oct_uniqueUser     1.430000e+02
oct_billscan       1.452000e+03
oct_scanTotal      5.937622e+06
oct_unlocks        1.452000e+03
dtype: float64

**Analysis of the change**
- Seeing the UniqueUser Data of both the months we can find out that there are roughly 50% more users in the month of September.Due which there is more amount of bill transactions as compared to october.
- It indicates September was either a festive month or offer month as more number of coupons were unlocked during that period.

Sept vs Oct

Changes According to tier-

tier1 - UniqueUser -- decrease of 50%
        BillScan --  decrease of 40.91%
        ScanTotal -- decrease of 58.36%
        CouponsUnlocked -- decrease of 40.91%

tier2 - UniqueUser -- decrease of 29%
        BillScan --  decrease of 47.83%
        ScanTotal -- decrease of 41.81%
        CouponsUnlocked -- decrease of 47.83%

tier3 - UniqueUser -- decrease of 21.74%
        BillScan --  decrease of 47.47%
        ScanTotal -- decrease of 63.68%
        CouponsUnlocked -- decrease of 47.47%

tier4 - UniqueUser -- increase of 100%
        BillScan --  no cahnge
        ScanTotal -- increase of 89.33%
        CouponsUnlocked -- no change